<h4>Formularios <small> Template </small></h4>
<hr>
<form autocomplete="off" (ngSubmit)="save(formTemplate)" #formTemplate="ngForm">
    <div>

        <div class="form-group row">
            <label class="col-sm-1 col-form-label">Nombre</label>
            <div class="col-sm-11">
                <input class="form-control" type="text" placeholder="Nombre" name="nombre" required minlength="2" [ngModel]="usuario.nombre" #nombre="ngModel" [class.is-invalid]="nombre.invalid && nombre.touched">
                <small *ngIf="nombre.invalid && nombre.touched" class="form-text text-danger">Ingrese al menos 3 letras</small>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-1 col-form-label">Apellido</label>
            <div class="col-sm-11">
                <input class="form-control" type="text" placeholder="Apellido" name="apellido" required minlength="5" [ngModel]="usuario.apellido" #apellido="ngModel" [class.is-invalid]="apellido.invalid && apellido.touched">
                <small *ngIf="apellido.invalid && apellido.touched" class="form-text text-danger">Ingrese al menos 5 letras</small>
            </div>
        </div>

    </div>

    <div class="form-group row">
        <label class="col-sm-1 col-form-label">Correo</label>
        <div class="col-sm-11">
            <input class="form-control" type="email" placeholder="Correo electrónico" name="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" [ngModel]="usuario.correo" #correo="ngModel" [class.is-invalid]="correo.invalid && correo.touched">
            <small *ngIf="correo.invalid && correo.touched" class="form-text text-danger">Ingrese un correo valido</small>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-1 col-form-label">Pais</label>
        <div class="col-sm-11">
            <select style="background-position: right calc(.375em + 1rem) center" class="form-control" name="country" required [ngModel]="usuario.country" #country="ngModel" [class.is-invalid]="country.invalid && country.touched">
                <option *ngFor="let country of countrys" [value]="country.cod" > {{ country.name }} </option>            
            </select>
            <small *ngIf="country.invalid && country.touched" class="form-text text-danger">Debe seleccionar un pais</small>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-1 col-form-label">Genero</label>
        <div class="col-sm-11">
            <div class="mt-1">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="sex" id="inlineRadio1" value="F" [ngModel]="usuario.sex" required #sex="ngModel" [class.is-invalid]="sex.invalid && sex.touched">
                    <label class="form-check-label" for="inlineRadio1">Femenino</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="sex" id="inlineRadio2" value="M" [ngModel]="usuario.sex" required #sex="ngModel" [class.is-invalid]="sex.invalid && sex.touched">
                    <label class="form-check-label" for="inlineRadio2">Masculino</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="sex" id="inlineRadio3" value="U" [ngModel]="usuario.sex" required #sex="ngModel" [class.is-invalid]="sex.invalid && sex.touched">
                    <label class="form-check-label" for="inlineRadio3">Indenifinido</label>
                </div>
            </div>
            <small *ngIf="sex.invalid && sex.touched" class="form-text text-danger">Debe seleccionar un genero</small>
        </div>
    </div>

    <div class="form-group row">
        <div class="input-group col-sm-12">
            <button type="submit" class="btn btn-outline-primary btn-block">
        Guardar
      </button>
        </div>
    </div>

</form>